<nav>
  <div class="navbrand-container">
    <a href="/" class="navbrand">GB</a>
  </div>
  <div class="instagram-nav-link">
    <a href="https://www.instagram.com/greenbirdartworks/" target="_blank"
      >Instagram &#10697;</a
    >
  </div>
</nav>
