<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GreenBirdArtworks | Welcome Page</title>
    <%- include("./partials/head.ejs") %>
  </head>
  <body>
    <div class="bg">
      <img src="/bg.png" alt="BG" />
    </div>
    <header><%- include("./partials/header.ejs") %></header>
    <div class="container">
      <main>
        <div class="hero-section">
          <h1>Get Your Portrait Done For Free</h1>
          <p>Click the button below and enter your name and insta handle</p>
          <a href="/joincontest">I'm in</a>
        </div>
      </main>
    </div>
  </body>
</html>
